/target
/.sonar
sonar-project.properties

# Eclipse specific files
.project
.classpath
.settings
.metadata
*.jsfdia
.tern-project

# Eclipse EE specific
src/main/java/resources
/target/

# working files that are taken from elsewhere during war assembly
src/main/resources/META-INF/persistence.xml
src/main/webapp/WEB-INF/beans.xml
src/main/webapp/WEB-INF/jboss-all.xml
src/main/webapp/WEB-INF/jboss-web.xml

!src/main/webapp/*.pdf
!src/main/webapp/**/*.pdf