body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    /* margin: 10px; */
}

a {
    text-decoration: none  !important;
}

/* for all of primefaces componenets */
.ui-widget, 
.ui-widget .ui-widget {
    font-size: 12px;
    padding: 0px !important;
}

.ui-widget table {
    font-size: 12px;  
    
}

.centered {
    margin: 0 auto;
}

.menubar {
    padding: 0px !important;
}

/* text wrap around in data table*/
.ui-datatable td {
    white-space: normal !important;
}

.noborders, .noborders>tbody>tr, .noborders>tbody>tr>td {
    background: none;
    border: none;
    vertical-align: top;
}

.transparent {
    background-color: transparent; 
}

.titlebar .titlebar>tbody>tr, .titlebar>tbody>tr>td {
    padding: 0px !important; 
    width: 100%;
    /* background-image: url('../images/header-bg.png'); 
    background-repeat: repeat; */
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */
}

.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px; 
    font-style: normal;
    font-weight: bold;     
}

/*
h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
*/